  <table>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>ID</th>
      <th>Edit</th>
    </tr>

    <tr *ngFor="let furniture of furnitures">
      <td>{{furniture.image}}</td>
      <td>{{furniture.name}}</td>
      <td>{{furniture.description}}</td>
      <td>{{furniture.price}}</td>
      <td>{{furniture.id}}</td>
      <td><a routerLink="/AdminEdit/{{furniture.id}}">Edit</a></td>
      <td><button class="Delete" title="delete furniture"
        (click)="delete(furniture.id)">Delete</button></td>
    </tr>
</table>

<button type="button" class="add-button" (click)="addFurniture()">
  Add furniture
</button>
  